.block {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(60deg, var(--c2), var(--c4));
	z-index: 50000000;
}

.hide {
	opacity: 0;
	z-index: -100000;
	transition: opacity ease-in-out 1s, z-index step-end 1s;
}

.logo {
	width: 100px;
}

.title {
	font-family: var(--font-hand);
	font-size: 80px;
	font-weight: 100;
	color: var(--title-blue);
	margin-top: 10px;
	margin-bottom: 30px;
	user-select: none;
}

.loading {
	width: 80px;
}
