.block {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(60deg, var(--c2), var(--c4));
	z-index: 50000000;
}

.hide {
	opacity: 0;
	z-index: -100000;
	transition: opacity ease-in-out 1s, z-index step-end 1s;
}

.logo {
	width: 80px;
}

.title {
	font-family: var(--font-hand);
	font-size: 80px;
	font-weight: 100;
	color: white;
	margin-top: 20px;
	margin-bottom: 50px;
	user-select: none;
}

.loading {
	width: 50px;
}
