.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -2;
}

.back-gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0.8;
	background: linear-gradient(40deg, var(--c2), var(--c3));
	z-index: -1;
}

.box {
	width: 100%;
	height: 100%;
}

.arrow {
	position: absolute;
	left: 50%;
	bottom: 3vh;
	width: 50px;
	transform: translate(-50%) rotate(90deg);
	transition: all 0.25s ease-in-out;
	will-change: transform filter;
	filter: brightness(0.9);
	cursor: pointer;
}

@media (hover) {
	.arrow:hover {
		filter: brightness(1.1);
		transform: scale(1.15) translate(-50%) rotate(90deg);
	}
}
